@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.acrox-tab {
  border: 1px solid #101010;
  box-sizing: border-box;
  font-family: Fira Sans;
  font-size: 13px;
  margin: auto;
  padding: 60px;
  width: 500px;
  color: #8f8f8f;
  background: #030303;
}
.acrox-tab > br {
  display: none;
}
.acrox-tab .a-title {
  font-family: Oswald;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}
.acrox-tab .a-subtitle {
  font: 200 7px "Fira Sans";
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  color: #bbbbbb;
}
.acrox-tab .a-subtitle:after {
  content: "";
  font-family: "Honeybee";
  display: block;
  font-weight: 300;
  font-size: 12px;
  margin-top: 15px;
}
.acrox-tab .a-text {
  margin-top: 20px;
  text-align: justify;
  line-height: 135%;
}
.acrox-tab .a-text strong {
  font-weight: 400
}
.acrox-tab .a-text u {
  text-decoration: none;
  color: #ccc;
}
.acrox-tab .a-info {
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #101010;
  font: 200 11px "Arial";
}
.acrox-tab .center {
  text-align: center;
}
.gabe .combateinner span, .matt .combateinner span {
  display: none;
}
.a-title strong {
  font-weight: 400
}
.gabe .a-subtitle strong, .gabe .a-info strong, .gabe .a-text strong, .gabe .a-title strong, .gabe .a-subtitle:after {
  color: #5F9EA0;
}
.gabe .a-info, .gabe blockquote {
  border-left-color: #5F9EA0;
}

/*Hester*/
.hester .a-subtitle strong, .hester .a-info strong, .hester .a-text strong, .hester .a-title strong, .hester .a-subtitle:after {
  color: #764337;
}
.hester .a-info, .hester blockquote {
  border-left-color: #764337;
}

/*Sean*/
.sean .a-subtitle strong, .sean .a-info strong, .sean .a-text strong, .sean .a-title strong, .sean .a-subtitle:after {
  color: #981e34;
}
.sean .a-info, .sean blockquote {
  border-left-color: #981e34;
}

/*Matt*/
.matt .a-subtitle strong, .matt .a-info strong, .matt .a-text strong, .matt .a-title strong, .matt .a-subtitle:after {
  color: #80665b;
}
.matt .a-info, .matt blockquote {
  border-left-color: #80665b;
}


/*Firmas*/

.pro-sig {
  width: 280px;
  height: 180px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  box-sizing: border-box;
  padding: 0 40px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border: 5px solid #111;
}
.pro-sig:hover {
  background-position: 0 -60px;
}
.pro-sig:hover span {
  top: -30px;
}
.pro-sig:hover .imgs {
  top: calc(100% - 60px);
}
.pro-sig strong {
  display: block;
  font: bold 64px "Arial";
  letter-spacing: 5px;
  text-align: center;
  line-height: 80%;
}
.pro-sig span {
  font: 7px "Calibri";
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: justify;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pro-sig .imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gabe-sig {
  width: 280px;
  height: 180px;
  background: url(https://i.imgur.com/E6HYcSY.jpg);
  margin: 0 auto;
  border-top: 5px solid #233132;
  border-bottom: 5px solid #233132;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}
.gabe-sig:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.gabe-sig:hover:after {
  background: transparent;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.gabe-sig [class^="gabe-t"] {
  position: relative;
  z-index: 1;
  font-family: "Arial";
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
}
.gabe-sig .gabe-tit {
  font-size: 30px;
  font-weight: bold;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gabe-sig:hover .gabe-tit {
  left: 120%;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.gabe-sig .gabe-txt {
  font-size: 6px;
  font-weight: 400;
  letter-spacing: 0.3em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  right: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.gabe-sig:hover .gabe-txt {
  right: 120%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.gabe-sig hrr {
  width: 50%;
  height: 5px;
  background: #233132;
  margin-top: 5px;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  right: 0;
  position: relative;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.gabe-sig:hover hrr {
  right: 120%;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.sean-sig {
  width: 280px;
  height: 190px;
  background: url(https://i.imgur.com/favzWqU.jpg) center/cover;
  margin: 0 auto;
  border-top: 4px solid #7c5027;
  border-bottom: 4px solid #7c5027;
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  position: relative;
}
.sean-sig:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://i.imgur.com/TGo3g5D.gif) center/cover;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sean-sig:hover:after {
  opacity: 1;
}
.sean-sig .sean-txt {
  letter-spacing: 1px;
  font: 6px "Arial";
  text-align: justify;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  box-sizing: border-box;
  padding: 5px 25px;
  position: relative;
  z-index: 1;
}
.sean-sig .sean-txt strong {
  font: bold 37px "Arial";
  margin-right: 8px;
  letter-spacing: -2px;
  margin-top: 3px;
}

.matt-sig {
  width: 280px;
  height: 190px;
  background: url(https://i.imgur.com/kf4DDud.jpg) center/cover;
  margin: 0 auto;
  position: relative;
  border-top: 4px solid #8e755c;
  border-bottom: 4px solid #8e755c;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: end;
          justify-content: flex-end;
  box-sizing: border-box;
  padding: 7px 30px;
  overflow: hidden;
}
.matt-sig:hover .matt-grad {
  top: 100px;
}

.matt-grad {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(142, 117, 92, 0)), color-stop(61%, rgba(142, 117, 92, 0)), to(rgba(142, 117, 92, 0.7)));
  background: linear-gradient(180deg, rgba(142, 117, 92, 0) 0%, rgba(142, 117, 92, 0) 61%, rgba(142, 117, 92, .7) 100%)
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.matt-tit {
  font-family: "LeviBrush";
  font-size: 24px;
  line-height: 95%;
  color: #bba48c;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
}

.matt-txt {
  font: 5.5px "Arial";
  color: white;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 1px black;
}
