@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.acrox-tab {
  border: 1px solid #101010;
  box-sizing: border-box;
  font-family: Fira Sans;
  font-size: 13px;
  margin: auto;
  padding: 60px;
  width: 500px;
  color: #8f8f8f;
  background: #030303;
}
.acrox-tab > br {
  display: none;
}
.acrox-tab .a-title {
  font-family: Oswald;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}
.acrox-tab .a-subtitle {
  font: 200 7px "Fira Sans";
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  color: #bbbbbb;
}
.acrox-tab .a-subtitle:after {
  content: "";
  font-family: "Honeybee";
  display: block;
  font-weight: 300;
  font-size: 12px;
  margin-top: 15px;
}
.acrox-tab .a-text {
  margin-top: 20px;
  text-align: justify;
  line-height: 135%;
}
.acrox-tab .a-text strong {
  font-weight: 400
}
.acrox-tab .a-text u {
  text-decoration: none;
  color: #ccc;
}
.acrox-tab .a-info {
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #101010;
  font: 200 11px "Arial";
}
.acrox-tab .center {
  text-align: center;
}
.gabe .combateinner span, .matt .combateinner span {
  display: none;
}
.a-title strong {
  font-weight: 400
}
.gabe .a-subtitle strong, .gabe .a-info strong, .gabe .a-text strong, .gabe .a-title strong, .gabe .a-subtitle:after {
  color: #5F9EA0;
}
.gabe .a-info, .gabe blockquote {
  border-left-color: #5F9EA0;
}

/*Hester*/
.hester .a-subtitle strong, .hester .a-info strong, .hester .a-text strong, .hester .a-title strong, .hester .a-subtitle:after {
  color: #764337;
}
.hester .a-info, .hester blockquote {
  border-left-color: #764337;
}

/*Sean*/
.sean .a-subtitle strong, .sean .a-info strong, .sean .a-text strong, .sean .a-title strong, .sean .a-subtitle:after {
  color: #981e34;
}
.sean .a-info, .sean blockquote {
  border-left-color: #981e34;
}

/*Matt*/
.matt .a-subtitle strong, .matt .a-info strong, .matt .a-text strong, .matt .a-title strong, .matt .a-subtitle:after {
  color: #80665b;
}
.matt .a-info, .matt blockquote {
  border-left-color: #80665b;
}


/*Firmas*/
.pro-sig {
  width: 280px;
  height: 180px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  box-sizing: border-box;
  padding: 0 40px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border: 5px solid #111;
}
.pro-sig:hover {
  background-position: 0 -60px;
}
.pro-sig:hover span {
  top: -30px;
}
.pro-sig:hover .imgs {
  top: calc(100% - 60px);
}
.pro-sig strong {
  display: block;
  font: bold 64px "Arial";
  letter-spacing: 5px;
  text-align: center;
  line-height: 80%;
}
.pro-sig span {
  font: 7px "Calibri";
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: justify;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pro-sig .imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
